<form class="example-form">
    <button mat-flat-button color="primary" (click)="addTask()" [disabled]="!task.trim().length">
        <mat-icon>add</mat-icon> Adicionar
    </button>
    <mat-form-field class="example-full-width">
        <mat-label>Tarefa</mat-label>
        <input #input matInput [(ngModel)]="task" name="task">
        <mat-hint align="end">{{task.length}} / 256</mat-hint>
        <button mat-button *ngIf="task" matSuffix mat-icon-button aria-label="Clear" (click)="task=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</form>