<button mat-flat-button color="primary" (click)="addTodo()" type="submit">
    <mat-icon>add</mat-icon> Adicionar
</button>
<mat-form-field class="example-full-width" [formGroup]="formGroup">
    <mat-label>Tarefa</mat-label>
    <input #input matInput autofocus autocomplete="off" formControlName="description">
    <mat-error *ngIf="description.errors?.required" >Campo obrigatório</mat-error>
    <mat-hint align="end">{{todo.description.length}} / 256</mat-hint>
    <button mat-button *ngIf="todo.description.length" matSuffix mat-icon-button aria-label="Clear" (click)="description.setValue('')">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>