div{
    position: fixed;
    color: white;
    background-color: #673ab7;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 5px;
    left: 50%;
    width: 200px;
    text-align: center;
    margin-left: -100px;
    border-radius: 25px;
}