<div>
    <app-data-switch-mode (changeOutput)="loadTodos()"></app-data-switch-mode>
    <mat-card>
        <mat-card-header>
            <mat-card-title>TODO List</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <app-todo-include #include (addTodoEvent)="addTodo($event)"></app-todo-include>
            <app-todo-list #list [todos]="todos"></app-todo-list>
            <app-todo-exclude *ngIf="list.selectedTodos.length" [selectedTodos]="list.selectedTodos" (removeTodosEvent)="removeTodos($event)">
            </app-todo-exclude>
        </mat-card-content>
    </mat-card>
</div>