<mat-card>
    <mat-card-header>
        <mat-card-title>Gerenciador de tarefas</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <app-task-include (addTaskEvent)="addTask($event)"></app-task-include>
        <mat-checkbox (change)="onSelectAll()" [(ngModel)]="selectAll" *ngIf="tasks.length">Selecionar todas</mat-checkbox>
        <app-task-list #list [tasks]="tasks"></app-task-list>
        <app-task-exclude *ngIf="list.selectedTasks.length" [selectedTasks]="list.selectedTasks" (removeTasksEvent)="removeTasks($event)">
        </app-task-exclude>
    </mat-card-content>
</mat-card>